table{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
tr {
    border-bottom: 1px solid #ddd;
    height: 70px;
}
tr:hover {background-color: #f5f5f5;}
td{
  padding: 20px;
  font-size: 16px;
}
.container{
  margin-top: 1%;
}
.navbar.navbar-default{
  background-color: #A96363;
  border-color: black;
}
.btn.btn-search.btn-default{
  background-color: #BA0601;
  color: white;
  border-color: black;
}
.navbar .navbar-search .dropdown-menu { min-width: 25px; }
.dropdown-menu .label-icon { margin-left: 5px; }
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

#icon{
  width: 40px;
  length: 40px;
  margin: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    margin-top: 5%;
}
#loadingIcon{
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}
#analyzingText{
  text-align: center;
}
