html {
    background: #C98180;
}
table{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
tr {
    border-bottom: 1px solid #ddd;
    height: 70px;
}
tr:hover {background-color: #A96363}
td{
  padding: 20px;
  font-size: 16px;
}
body{
  background: #C98180;
}
.container{
  margin-top: 1%;
  background: #C98180;
}
.navbar.navbar-default{
  background-color: rgba(50, 50, 50, 0.5);
  border-color: black;
}
.btn.btn-search.btn-default{
  background-color: #BA0601;
  color: white;
  border-color: black;
}
.navbar .navbar-search .dropdown-menu { min-width: 25px; }
.dropdown-menu .label-icon { margin-left: 5px; }
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

#icon{
  width: 40px;
  length: 40px;
  margin: 15px;
}
