.mainDiv{
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  background: #333333;
  padding: 1%;
}
#usernameDiv{
  display: inline-block;
  width: 45%;
  margin-left: 41%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.infoTitle{
  text-align: center;
}
.infoDiv{
  border-radius: 10px;
  border: solid;
  border-width: 1px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 1%;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

.dropbtn {
  padding:10px 15px;
  color: #fff;
  background-color: #CC0000;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
  font-size: small;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin: 1%;
    width: 12%
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #a00400;
}

.chartDiv{
  border-radius: 10px;
  border: solid;
  border-color: #a9a9a9;
  border-width: 1px;
  margin: 1%;
  padding: 1%;
  width: 31%;
  background-color: #8c8c8c;
}

#contributionDiv{
  background-color: #ededed;
}
#leadershipDiv{
  background-color: #8c8c8c;
}
#skillsDiv{
  background-color: #ededed;
}
#teamsDiv{
  background-color: #8c8c8c;
}
li{
  width: 100%;
}
