#icon{
  width: 12%;
  length: 10%;
}
#pageTitle{
  color: white;
  margin-left: 5%;
}
li {
    display: inline;
    float: left;
}
.container{
  margin-top: 1%;
}
.navbar.navbar-default{
  background-color: #A96363;
  border-color: black;
}
table{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
tr {
    border-bottom: 1px solid #ddd;
    height: 70px;
}
#userRow:hover {background-color: #f5f5f5}
td{
  padding: 20px;
  font-size: 16px;
}
th{
  padding: 20px;
  font-size: 16px;
}
