#icon{
  width: 12%;
  margin-left: 1%;
}
#titleDiv{
  display: inline-block;
  width: 72%;
}
#pageTitle{
  color: white;
  text-align: center;
}
li {
    display: inline;
    float: left;
}
.container{
  margin-top: 1%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.navbar.navbar-default{
  background-color: #943838;
  border-color: black;
}
table{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
tr {
    border-bottom: 1px solid #ddd;
    height: 70px;
}
#userRow:hover {background-color: #f5f5f5}
td{
  padding: 20px;
  font-size: 16px;
}
th{
  padding: 20px;
  font-size: 16px;
}
