<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/search.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="static/search.js"></script>
        <script src="static/usersList.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="nav nav-justified navbar-nav">
                      <img class="icon" src="/static/spyteam.png"/>
                        <form class="navbar-form navbar-search" id="searchForm" role="form" onsubmit="return search();">
                            <div class="input-group" id="searchGroup">
                                <div class="input-group-btn" id="selectionDiv">
                                    <select name="searchType" id="typeSelector" value="projects" class="selectpicker form-control">
                                      <option value="projects">Projects</option>
                                      <option value="organizations">Organizations</option>
                                    </select>
                                </div>
                                <input id="searchBar" type="text" name="searchKey" class="form-control">
                                <div class="input-group-btn">
                                    <button id="searchButton" type="button" class="btn btn-search btn-default" onclick="return search();">
                                        GO
                                    </button>
                                </div>
                            </div>
                        </form>
                        <img class="icon" src="/static/genesyslogo.png"/>
                    </div>
                </nav>
            </div>
        </div>
        <table id="searchResults">
            <tbody>
            </tbody>
        </table>
        <div id="analyzing" class="modal">
            <div class="modal-content">
              <img id="loadingIcon" src="static/loading.gif"></img>
              <h3 id="analyzingText">Analyzing Projects</h3>
            </div>
        </div>
    </body>
</html>
