<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Teams & Skills Evaluator</title>
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>
<body>
    <div class="container">
        <img src="/JAM/Static/images/genesyslogo.png"/>
        <form id="login" method="post">
            <div class="form-input">
                <input type="text" id="username" name="username"/>
            </div>
            <div class="form-input">
                <input type="password" id="pwd" name="pwd"/>
            </div>

            <input type="submit" value="LOGIN" id="button"/>
        </form>
    </div>
</body>

</html>
