<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ userData['userLogin'] }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        <link rel="stylesheet" type="text/css" href="/static/usersList.css">
        <link rel="stylesheet" type="text/css" href="/static/user.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="../../static/user.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            function reload() {
                leaderDiv = document.getElementById('leadershipSpecDiv');
                $(leaderDiv).hide();
                contribDiv = document.getElementById('contributionSpecDiv');
                $(contribDiv).hide();
                mainDiv = document.getElementById('userInfoDiv');
                $(mainDiv).show();
            }
            function loadContribution() {
                mainDiv = document.getElementById('userInfoDiv');
                $(mainDiv).hide();
                leaderDiv = document.getElementById('leadershipSpecDiv');
                $(leaderDiv).hide();
                contribDiv = document.getElementById('contributionSpecDiv');
                $(contribDiv).show();
            }
            function loadLeadership() {
                mainDiv = document.getElementById('userInfoDiv');
                $(mainDiv).hide();
                contribDiv = document.getElementById('contributionSpecDiv');
                $(contribDiv).hide();
                leaderDiv = document.getElementById('leadershipSpecDiv');
                $(leaderDiv).show();
            }
            function numCommitsChart() {
                var data = google.visualization.arrayToDataTable([
                    ['User', 'Num of Commits'],
                    ['User', {{ userData['uniqueStats']['commitCount']}}],
                    ['Other Contributors', ({{ totalData['uniqueStats']['commitCount'] }} - {{ userData['uniqueStats']['commitCount']}})]
                ]);

                var options = {
                    legend: 'none',
                    backgroundColor: 'transparent',
                    pieSliceTextStyle: {
                      color: 'white',
                      fontSize:14
                    },
                    colors: ['#a00400', '#A96363'],
                    tooltip: { textStyle: { fontSize: 12 } },
                    width: 225,
                    height: 200,
                    chartArea: {'width': '80%', 'height': '80%'}
                };

                var chart = new google.visualization.PieChart(document.getElementById('commitsChart'));
                chart.draw(data, options);
            }
            function linesOfCodeChart() {
                var data = google.visualization.arrayToDataTable([
                    ['User', 'Lines of Code'],
                    ['User', {{ userData['uniqueStats']['codeLines'] }}],
                    ['Other Contributors', ({{ totalData['uniqueStats']['codeLines'] }} - {{ userData['uniqueStats']['codeLines'] }})]
                ]);

                var options = {
                    legend: 'none',
                    backgroundColor: 'transparent',
                    pieSliceTextStyle: {
                      color: 'white',
                      fontSize:14
                    },
                    colors: ['#3366cc','#6b89c6'],
                    tooltip: { textStyle: { fontSize: 12 } },
                    width: 225,
                    height: 200,
                    chartArea: {'width': '80%', 'height': '80%'}
                };

                var chart = new google.visualization.PieChart(document.getElementById('linesOfCodeChart'));
                chart.draw(data, options);
            }
            function numCommentsChart() {
                var data = google.visualization.arrayToDataTable([
                    ['User', 'Num of Comments'],
                    ['User', 1],
                    ['Other Contributors', 0]
                ]);

                var options = {
                    legend: 'none',
                    backgroundColor: 'transparent',
                    pieSliceTextStyle: {
                      color: 'white',
                      fontSize:14
                    },
                    colors: ['#10872b', '#61996e'],
                    tooltip: { textStyle: { fontSize: 12 } },
                    width: 225,
                    height: 200,
                    chartArea: {'width': '80%', 'height': '80%'}
                };

                var chart = new google.visualization.PieChart(document.getElementById('commentsChart'));
                chart.draw(data, options);
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="nav nav-justified navbar-nav">
                        <img class="icon" src="/static/spyteam.png"/>
                        <div id="titleDiv">
                            <h2 id="pageTitle">{{ projectName }}</h2>
                        </div>
                        <img class="icon" src="/static/genesyslogo.png"/>
                    </div>
                </nav>
            </div>
        </div>
        <div class="mainDiv">
          <div id="usernameDiv">
            <select id="userSelect" class="selectpicker" data-live-search="true" data-width="auto">
              {% for user in data %}
                {% if user['userLogin'] != '-' %}
                  <option style="width: 100%">{{ user['userLogin'] }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="dropdown">
              <button class="dropbtn">Select Content</button>
              <div class="dropdown-content">
                  <a onclick="reload()">Overview</a>
                  <a onclick="loadContribution()">Contribution</a>
                  <a onclick="loadLeadership()">Leadership</a>
              </div>
          </div>
        <div class="infoDiv" id="userInfoDiv">
            <div class="infoDiv" id="contributionDiv">
                <h2 class="infoTitle">Contribution</h2>
                <div class="column-left">
                    <h3 id="info">Overall:
                        {{ userData['contribution'] }}%</h3>
                </div>
                <div class="column-center">
                    <p>Number of Commits:
                        {{ userData['uniqueStats']['commitCount'] }}</p>
                    <p>Lines of Code:
                        {{ userData['uniqueStats']['codeLines'] }}</p>
                    <p>Lines of Code accepted: 19,782</p>
                </div>
                <div class="column-right">
                    <p>Commits accepted: 279</p>
                    <p>Major Contribution Branches: 3</p>
                    <p>Number of Comments: 32</p>
                </div>
            </div>
            <div class="infoDiv" id="leadershipDiv">
                <h2 class="infoTitle">Leadership</h2>
                <div class="column-left">
                    <h3 id="info">Overall:
                        {{ userData['leadership'] }}</h3>
                </div>
                <div class="column-center">
                    <p>Branches Merged: 0</p>
                    <p>Branches Led: 1</p>
                </div>
                <div class="column-right">
                    <p>Files Created: 21</p>
                    <p>Files Led: 17</p>
                </div>
            </div>
            <div class="infoDiv" id="skillsDiv">
                <h2 class="infoTitle">Skills</h2>
                <h3 id="info" class="languages">{{ userData['languages'] }}</h3>
            </div>
            <div class="infoDiv" id="teamsDiv">
                <h2 class="infoTitle">Teams</h2>
                <h3 id="info">Juicearific</h3>
            </div>
        </div>
        <div id="contributionSpecDiv" class="infoDiv" style="display: none;">
            <div class="infoDiv" style="background-color:#ededed">
              <h2 class="infoTitle">Contribution</h2>
              <div class="chartDiv" style="float: left">
                <h3 style="text-align: center">Number of Commits</h3>
                <div id="commitsChart" style="width: 225px; height: 200px; margin: 0 auto;"></div>
              </div>
              <div class="chartDiv" style="display: inline-block">
                <h3 style="text-align: center">Lines of Code Contributed</h3>
                <div id="linesOfCodeChart" style="width: 225px; height: 200px; margin: 0 auto;"></div>
              </div>
              <div class="chartDiv" style="float: right">
                <h3 style="text-align: center">Number of Comments</h3>
                <div id="commentsChart" style="width: 225px; height: 200px; margin: 0 auto;"></div>
              </div>
              <div class="infoDiv" style="background-color:#8c8c8c">
                  <div class="column-left">
                      <h3 id="info">Overall:
                          {{ userData['contribution'] }}%</h3>
                  </div>
                  <div class="column-center">
                      <p>Number of Commits:
                          {{ userData['uniqueStats']['commitCount'] }}</p>
                      <p>Lines of Code:
                          {{ userData['uniqueStats']['codeLines'] }}</p>
                      <p>Lines of Code accepted: 19,782</p>
                  </div>
                  <div class="column-right">
                      <p>Commits accepted: 279</p>
                      <p>Major Contribution Branches: 3</p>
                      <p>Number of Comments: 32</p>
                  </div>
              </div>
            </div>
        </div>
        <div id="leadershipSpecDiv" class="infoDiv"style="display: none;">
            <div class="infoDiv" style="background-color:#ededed">
              <h2 class="infoTitle">Leadership</h2>
              <div class="infoDiv" style="background-color:#8c8c8c">
                  <div class="column-left">
                      <h3 id="info">Overall:
                          {{ userData['leadership'] }}</h3>
                  </div>
                  <div class="column-center">
                      <p>Branches Merged: 0</p>
                      <p>Branches Led: 1</p>
                  </div>
                  <div class="column-right">
                      <p>Files Created: 21</p>
                      <p>Files Led: 17</p>
                  </div>
              </div>
            </div>
        </div>
      </div>
        <script>
            fixFormatting();
            google.charts.load("current", {packages: ["corechart"]});
            google.charts.setOnLoadCallback(linesOfCodeChart);
            google.charts.setOnLoadCallback(numCommitsChart);
            google.charts.setOnLoadCallback(numCommentsChart);

            var select = document.getElementById("userSelect");
            select.value = "{{ userData['userLogin'] }}";

            $(document).on('change', 'select', function() {
              console.log($(this).val());
              window.location = "/userinfo/" + $(this).val() +"/"+ (select.selectedIndex + 1);
            });
        </script>
    </body>
</html>
