<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Users</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/usersList.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="nav nav-justified navbar-nav">
                        <form class="navbar-form navbar-search" id="form" role="form">
                            <div class="input-group">
                                <h2 id="pageTitle">{{ name }}</h2>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
