<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ userData['userLogin'] }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/usersList.css">
        <link rel="stylesheet" type="text/css" href="/static/user.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="../../static/user.js"></script>
        <script>
            function reload(){
              leaderDiv = document.getElementById('leadershipDiv');
              $(leaderDiv).hide();
              contribDiv = document.getElementById('contributionDiv');
              $(contribDiv).hide();
              mainDiv = document.getElementById('userInfoDiv');
              $(mainDiv).show();
            }
            function loadContribution() {
              mainDiv = document.getElementById('userInfoDiv');
              $(mainDiv).hide();
              leaderDiv = document.getElementById('leadershipDiv');
              $(leaderDiv).hide();
              contribDiv = document.getElementById('contributionDiv');
              $(contribDiv).show();
            }
            function loadLeadership(){
              mainDiv = document.getElementById('userInfoDiv');
              $(mainDiv).hide();
              contribDiv = document.getElementById('contributionDiv');
              $(contribDiv).hide();
              leaderDiv = document.getElementById('leadershipDiv');
              $(leaderDiv).show();
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="nav nav-justified navbar-nav">
                        <img id="icon" src="/static/genesyslogo.png"/>
                        <div id="usernameDiv">
                            <h2 id="username">{{ userData['userLogin'] }}</h2>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">Select Content</button>
                            <div class="dropdown-content">
                                <a onclick="reload()">Overview</a>
                                <a onclick="loadContribution()">Contribution</a>
                                <a onclick="loadLeadership()">Leadership</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div id="userInfoDiv" class="mainDiv">
            <h2 class="infoTitle">Contribution</h2>
            <div class="infoDiv">
                <div class="column-left">
                    <h3 id="info">Overall:
                        {{ userData['contribution'] }}</h3>
                </div>
                <div class="column-center">
                    <p>Number of Commits:
                        {{ userData['uniqueStats']['commitCount'] }}</p>
                    <p>Lines of Code:
                        {{ userData['uniqueStats']['codeLines'] }}</p>
                    <p>Lines of Code accepted: 19,782</p>
                </div>
                <div class="column-right">
                    <p>Commits accepted: 279</p>
                    <p>Major Contribution Branches: 3</p>
                    <p>Number of Comments: 32</p>
                </div>
            </div>
            <h2 class="infoTitle">Leadership</h2>
            <div class="infoDiv">
                <div class="column-left">
                    <h3 id="info">Overall:
                        {{ userData['leadership'] }}</h3>
                </div>
                <div class="column-center">
                    <p>Overall: 19</p>
                    <p>Branches Created: 2</p>
                </div>
                <div class="column-right">
                    <p>Number of Comments: 73</p>
                    <p>Branches Led: 2</p>
                </div>
            </div>
            <h2 class="infoTitle">Skills</h2>
            <div class="infoDiv">
                <h3 id="info" class="languages">{{ userData['languages'] }}</h3>
            </div>
            <h2 class="infoTitle">Teams</h2>
            <div class="infoDiv">
                <h3 id="info">Team 1: allisonsteinmetz, Juicearific, MananVPatel</h3>
            </div>
        </div>
        <div id="contributionDiv" class="mainDiv">
          <h2 class="infoTitle">Contribution</h2>
          <div class="infoDiv">
          </div>
        </div>
        <div id="leadershipDiv" class="mainDiv">
          <h2 class="infoTitle">Leadership</h2>
          <div class="infoDiv">
          </div>
        </div>
        <script>
            fixFormatting();
        </script>
    </body>
</html>
