<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Users</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/usersList.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="static/usersList.js"></script>
    </head>
    <body>
      <div class="container">
          <div class="row">
              <nav class="navbar navbar-default">
                  <div class="nav nav-justified navbar-nav">
                      <img id="icon" src="/static/genesyslogo.png"/>
                      <h2 id="pageTitle">{{ projectName }}</h2>
                  </div>
              </nav>
          </div>
      </div>
      <table id="userResults">
        <tbody>
          <tr>
            <th>Username</th>
            <th>Contribution</th>
            <th>Leadership</th>
            <th>Languages</th>
            <th>Teams</th>
          </tr>
          {% for user in usersData %}
                <tr id="userRow" onclick="getUser(this)">
                    <td>{{ user['userLogin'] }}</td>
                    <td class="contributionScore">{{ user['contribution'] }}</td>
                    <td>{{ user['leadership'] }}</td>
                    <td class="languages">{{ user['languages'] }}</td>
                    <td>{{ user['teams'] }}</td>
                </tr>
            {% endfor %}
            <script>fixFormatting();</script>
        </tbody>
    </table>
    </body>
</hml>
